* {
    margin: 0;
    padding: 0;
    flex-direction: inherit;
}

body {
    font-family: roboto, sans-serif;
    background-color: #ecf0f1;
}

header {
    position: fixed;
    width: 100%;
    margin-top: 0;
}

#main-nav {
    background-color: #f7c1a6;
    height: 65px;
    text-align: right;
}

.logo-holder {
    float: left;
    text-align: left;
    padding: 10px 10px 10px 14px;
}

.logo-img {width: 45px;}

#main-menu {list-style: none;}

.main-menu-item {display: inline-block;}

.main-menu-item a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.main-menu-item a:hover {
    color: rgb(44, 44, 44);
}

.features-section {
    padding: 100px 59px 200px 59px;
    width: 100%;
}

.feature {
    background-color: #f3f6f7;
    margin: auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.feature .illustration {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
.feature .illustration img {
    height: 50ch;
}

.feature .text-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    margin-top: 8%;
}
  
.feature .text-info h2 {
    margin-bottom: 20px;
}
  
.feature .text-info p {
    color: rgb(44, 44, 44);
    max-width: 85ch;
    font-size: 16px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    #main-nav {
        height: 35px;
    }
    
    .main-menu-item a {
        font-size: 12px;
        padding: 5px;
        margin: 5px;
    }
    
    .logo-holder {
        padding: 5px 5px 5px 7px;
    }
    
    .logo-img {width: 25px;}

    .features-section {
        padding: 100px 20px 200px 20px;
    }
    
    .feature {
        margin: auto;
        padding: 1.5rem;
        border-radius: 5px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .feature .illustration img {
        height: auto;
        width: 50%;
    }

    .feature .text-info {
        margin-top: 8%;
    }

    .feature .text-info h2 {
        font-size: 18px;
    }
      
    .feature .text-info p {
        font-size: 14px;
        line-height: 1.6;
    }

    .achievement {
        font-size: 14px;
        line-height: 1.6;
        padding-left: 20px;
    }
    
    .feature:nth-child(even) {
        flex-direction: column-reverse;
    }
}

@media (max-width: 350px) {
    #main-nav {
        height: 30px;
    }
    
    .main-menu-item a {
        font-size: 10px;
        padding: 3px;
        margin: 3px;
    }
    
    .logo-holder {
        padding: 4px 4px 4px 6px;
    }
    
    .logo-img {width: 20px;}

    .features-section {
        padding: 100px 20px 200px 20px;
    }
    
    .feature {
        margin: auto;
        padding: 1.5rem;
        border-radius: 5px;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .feature .illustration img {
        height: auto;
        width: 50%;
    }

    .feature .text-info {
        margin-top: 8%;
    }

    .feature .text-info h2 {
        font-size: 16px;
    }
      
    .feature .text-info p {
        font-size: 12px;
        line-height: 1.6;
    }

    .achievement {
        font-size: 12px;
        line-height: 1.6;
        padding-left: 20px;
    }
    
    .feature:nth-child(even) {
        flex-direction: column-reverse;
    }
}