* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    background-color: #ecf0f1;
}

#main-nav {
    background-color: #f7c1a6;
    height: 65px;
    text-align: right;
}

.logo-holder {
    float: left;
    text-align: left;
    padding: 10px 10px 10px 14px;
}

.logo-img {width: 45px;}

#main-menu {list-style: none;}

.main-menu-item {display: inline-block;}

.main-menu-item a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.main-menu-item a:hover {
    color: rgb(44, 44, 44);
}

.h1 {
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

main {
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.schedule-table {
    width: 90%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.schedule-table th, .schedule-table td {
    border: 1px solid #ddd;
    padding: 1rem;
    text-align: left;
}

.schedule-table th {
    background-color: #f7c1a6;
    color: black;
    text-transform: uppercase;
}

.schedule-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.schedule-table tr:hover {
    background-color: #ddd;
}

.contact-block {
    background-color: #f3f6f7;
    margin: 1rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 35px;
}

.contact-info {
    width: 50%;
    padding-left: 5%;
}

.contact-info p, .contact-info ul {
    margin: 0.5rem 0;
}

.contact-info ul {
    padding: 0;
    list-style: none;
}

.contact-info ul li {
    margin: 0.5rem 0;
}

.contact-info a {
    color: #08015e;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.map {
    padding-right: 5%;
}

.form {
    background-color: #f3f6f7;
    margin: 1rem auto;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.form p {
    text-align: center;
}

@media (max-width: 768px) {
    #main-nav {
        height: 35px;
    }
    
    .main-menu-item a {
        font-size: 12px;
        padding: 5px;
        margin: 5px;
    }
    
    .logo-holder {
        padding: 5px 5px 5px 7px;
    }
    
    .logo-img {width: 25px;}

    .h1 {
        font-size: 13px;
    }

    .schedule-table th, .schedule-table td {
        font-size: 14px;
        padding: 0.7rem;
    }

    .contact-block {
        flex-direction: column;
        text-align: center;
    }

    .contact-info h1 {
        font-size: 28px;
    }

    .contact-info p, .contact-info ul {
        font-size: 18px;
    }

    .form h1 {
        font-size: 28px;
    }

    .form p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .schedule-table th, .schedule-table td {
        font-size: 12px;
        padding: 0.6rem;
    }
    
    .contact-info h1 {
        font-size: 24px;
    }

    .contact-info p, .contact-info ul {
        font-size: 14px;
    }

    .form h1 {
        font-size: 24px;
    }
}

@media (max-width: 350px) {
    #main-nav {
        height: 30px;
    }
    
    .main-menu-item a {
        font-size: 10px;
        padding: 3px;
        margin: 3px;
    }
    
    .logo-holder {
        padding: 4px 4px 4px 6px;
    }
    
    .logo-img {width: 20px;}

    .h1 {
        font-size: 10px;
    }

    .schedule-table th, .schedule-table td {
        font-size: 10px;
        padding: 0.5rem;
    }

    .contact-info h1 {
        font-size: 18px;
    }

    .contact-info p, .contact-info ul {
        font-size: 12px;
    }


}